* {
	margin:0;
	padding:0;

}

html, body { height: 100% }
html { background: black }
body {

	font-family: 'droid-sans', sans-serif;;
	font-weight: 300;
	background-color: red;
	font-size: 9pt;
	line-height: 16pt;
	color: red;
	}


a{
	text-decoration:none;
	color: red;
	text-shadow: 2px 2px #fcb3ba;
	}


.descriptiontext {

	-moz-column-count: 2;

	-moz-column-gap: 45px;

	-webkit-column-count: 2;

	-webkit-column-gap: 45px;

	column-count: 2;

	column-gap: 45px;

	-ms-word-break: break-all;

		word-break: break-word;

-webkit-hyphens: auto;
	-moz-hyphens: auto;
			 hyphens: auto;


	}




#headinfo {
	padding-left: 2%;
	padding-top: 1.5%;
	position: fixed;
	font-size: 8pt;
	line-height: 11pt;
	width: 80%;
	color: white;
	letter-spacing: 0.5%;
	z-index: 3;
}


#komnen {
	margin-left: 29%;
	margin-top: 2%;
	position: fixed;
	font-family: 'Mandrel-NorReg', serif;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
	letter-spacing: 0.7px;
	font-size: 13pt;
	font-weight: 500;
	color: white;
	float: left;
	background-color: black;
	border: thin solid black;
	border-width: 20px;
	z-index: 100;
}

#about {
	margin-left: 83%;
	margin-top: 2% ;
	position: fixed;
	font-size: 9pt;
	line-height: 11pt;
	width: 3%;
	color: white;
	letter-spacing: 0.3px;
	z-index: 200;
	background-color: black;
	border: thin solid black;
	border-width: 20px;
}


#writings {
	margin-left: 90%;
	margin-top: 2%;
	position: fixed;
	font-size: 9pt;
	line-height: 11pt;
	width: 80%;
	color: white;
	letter-spacing: 0.3px;
	z-index: 3;
	background-color: black;
	border: thin solid black;
	border-width: 20px;
}

#coverimages {
	background-color: white;
	/*overflow-y: hidden;*/
	/*position: fixed;*/
	float: left;
	 top: 7%;
	 left: 20%;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}



#eventscontact {

	letter-spacing: 0.3px;
	border: thin solid black;
	border-width: 20px;
	background-color: black;
	max-width: 24%;
	font-size: 9pt;
	line-height: 13pt;
	width: 80%;
	color: white;
	z-index: 3;
	top: 60vh;
	 left: 1%;
    bottom:1.5%;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

hr {
    display: block;
    height: 1px;
    width: 16%;
    border: 0;
    border-top: 2px solid #ccc;
    margin-bottom: 4pt;
    padding: 0;
}


.title {
	text-transform: uppercase;
	color: black;
	font-family: 'Mandrel-NorReg', serif;
	font-size: 12pt;
}



.content {
	position: relative;
	max-width: 2000px;
	margin: 0 auto;


}

.overview {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

	max-width: 100%;
	overflow: none;

}
.portfolio-item {

		-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box;
}
.portfolio-item img {
	float: left;
	height: auto;
	max-width: 100%;
	margin-top: 40px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%)contrast(150%) brightness(300%);


}
.portfolio-item img.right { float: right }



.portfolio-item img:hover {
z-index: 40;
-webkit-filter: none; /* Safari 6.0 - 9.0 */
}

.scrollbarhide {
	height: 360px;
	overflow: auto;
	}

/* 	This is the scrollable content. It has a width that is much larger than the browser/viewport/screen width,
	so that it is scrollable */
.scroller {
	width:3900px;
}

.image-item {
	float: left;
	width: 250px;
	height: 300px;
	margin: 1%;
	padding: 6px;
	position: relative;
}

.image-item p {
	position: absolute;
	bottom: 0px;
	top:10px;
	right: 15px;
	color:white;
	display: none;

}

.image-item img {
	max-width: 100%;
	max-height: 100%;


}


/* detail section */

#left-line {
	width:50px;
	height:100%;
	background-color: black;
	z-index: 20;
}
.detail {
	border-left: thick solid;
	vertical-align:  middle;
	align-self: center;
	border-width: 20px;
	border-color: black;
	padding: 50px;
	position: absolute;
	background-color: white;
	font-size: 9pt;
	line-height: 14pt;
	display: none;
	overflow: scroll;
	width: 80% auto;
	height: 80vh;
	margin: 0 18%;
	z-index: 4;
	font-weight: 400;
-webkit-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
-moz-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);

}


.date {
	font-family: 'Mandrel-NorReg', serif;
	color: black;
	font-weight: 600;
	letter-spacing: 0.5px;
	baseline-shift: 40%;

}

.underscore {
	font-family: 'Mandrel-NorReg', serif;
	color: red;
	font-weight: 600;
	letter-spacing: 0.5px;
	baseline-shift: 40%;
}

.scrollable {
	height: 500px;
	width: 800px;
	overflow: auto;
}

.detail h1 {
	font-size: 11pt;
	line-height: 25pt;
}

.detail p {
}

.detail .artwork {
	width: 100%;
}

.video {
	position: relative;
	width: 100%;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}



#project1 {
	position: relative;
	float: right;
	padding: 30px 15px 30px 30px;
	width: calc(44800% / 893 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project2 {
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(44500% / 893 - 4px);

	 -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project3 {

	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(45500% / 980 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project4{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(52500% / 980 - 4px);

	 -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project5{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(39500% / 1000 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project6{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(60500% / 1000 - 4px);

	 -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}




#project7{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(54500% / 940 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project8{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(39500% / 940 - 4px);

 -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}




#project9{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(61500% / 960 - 4px);

 -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project10{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(34500% / 960 - 4px);

	 -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);

}


/* replace margins with paddings */
/*" width of image+paddingleft/right devided by sum of the total width of the images/paddings in one row"*/

#project11{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(48500% / 1000 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project12{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(51500% / 1000 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}


/* replace margins with paddings */
/*" width of image+paddingleft/right devided by sum of the total width of the images/paddings in one row"*/

#project13{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(46500% / 1010 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project14{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(54500% / 1010 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}


/* replace margins with paddings */
/*" width of image+paddingleft/right devided by sum of the total width of the images/paddings in one row"*/

#project15{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(99500% / 995 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}



/* replace margins with paddings */
/*" width of image+paddingleft/right devided by sum of the total width of the images/paddings in one row"*/

#project16{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(49500% / 1010 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project17{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(51500% / 1010 - 4px);


	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}



/* replace margins with paddings */
/*" width of image+paddingleft/right devided by sum of the total width of the images/paddings in one row"*/

#project18{
	position: relative;
	float: right;
	padding: 30px 30px 30px 15px;
	width: calc(44500% / 970 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}

#project19{
	position: relative;
	float: left;
	padding: 30px 15px 30px 30px;
	width: calc(52500% / 970 - 4px);

	  -webkit-filter: drop-shadow(2px 2px 2px #000000);
 	 filter: drop-shadow(2px 2px 2px #000000);
}








#content-writings {
	border-top: thin solid;
	border-bottom: thin solid;
	border-width: 10px;
	height: 30vh;
	width: 30% auto;
	padding: 35px;
	position: fixed;
	background-color: white;
	font-size: 9pt;
	font-weight: 400;
	line-height: 13pt;
	display: none;
	margin-top: 17%;
	margin-left: 40%;
	margin-right: 50%;
	z-index: 4;
	overflow: scroll;
	z-index: 200;

-webkit-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
-moz-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
}


#content-about {
	border-top: thin solid;
	border-bottom: thin solid;
	border-width: 10px;
	height: 58vh;
	width: 30%;
	padding: 35px;
	position: fixed;
	background-color: white;
	font-size: 9pt;
	font-weight: 400;
	line-height: 13pt;
	display: none;
	margin-top: 8%;
	margin-left: 37%;
	margin-right: 35%;
	z-index: 4;
	overflow: scroll;
	z-index: 200;

-webkit-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
-moz-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
}

#content-contact {
	border-top: thin solid;
	border-bottom: thin solid;
	border-width: 10px;
	height: 30vh;
	width: 30vh;
	padding: 35px;
	position: fixed;
	background-color: white;
	font-size: 9pt;
	font-weight: 400;
	line-height: 13pt;
	display: none;
	margin-top: 17%;
	margin-left: 37%;
	margin-right: 50%;
	z-index: 4;
	overflow: scroll;

-webkit-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
-moz-box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
box-shadow: 9px 5px 5px -2px rgba(0,0,0,0.15);
}

.close-button {
	width: 30px;
	height: 30px;
	position:absolute;
	right: 10px;
	top: 10px;
	background: url("close.png") no-repeat;
	background-size: cover;
	border: 1px solid rgba(255,255,255,0);

}



.close-button:hover {
	border: 1px solid black;
}

.detail {
	z-index: 200;
}

.close {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background: blue;
	opacity: 0;
}

.invisible {
	display: none;
}
